parameters:
    git_dir: .
    bin_dir: vendor/bin
    tasks:
        phpcsfixer2:
            allow_risky: true
            config: .php_cs
            using_cache: true
            config_contains_finder: true
            metadata:
                priority: 9000
        phpstan:
            level: 7
            ignore_patterns:
                - test
            metadata:
                priority: 8000
        phpunit:
            metadata:
                priority: 6000
        clover_coverage:
            clover_file: var/coverage.xml
            level: 100
            metadata:
                priority: 5000
        infection:
            threads: 4
            test_framework: phpunit
            only_covered: true
            min_msi: 100
            min_covered_msi: 100
            metadata:
                priority: 4000
                blocking: false
