<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.0/phpunit.xsd"
    backupGlobals="false"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="var/report" lowUpperBound="35" highLowerBound="70" />
        <log type="coverage-clover" target="var/coverage.xml" />
        <log type="junit" target="var/junit.xml"/>
    </logging>
</phpunit>
